  #tabs {
      min-width: 905px;
      margin-top: 1%;
      margin-bottom: 2%;
      border-radius: 3px;
      height: 100%;
  }

  #tabs .tab {
      background: rgba(52, 52, 68, 0.8);
      height: calc(100% - 60px);
    //   max-height: 100%;
      overflow-y: auto;
      display: none;
      padding: 12px;
      color: rgba(0, 0, 0, 0);
      border: solid 1px #909090;
      border-radius: 5px;
      position: relative;
      min-width: 975px;
      /* max-width: 80%; */
  }

  #tabs input[type="radio"] {
      display: none;
  }

  #tabs>label {
      background: #cacaca;
      display: inline-block;
      margin-right: 2px;
      margin-bottom: 3px !important;
      border-radius: 3px;
      max-height: 54px !important;
      padding: 14px 20px !important;
      font-family: Arial;
      font-size: 95%;
      font-weight: 700;
      color: #777;
      cursor: pointer;
      text-shadow: 1px 1px #fff;
      transition: background .3s;
      -webkit-transition: background .3s;
  }

  .connectIndicator {
      color: green;
      text-shadow: none;
      position: relative;
      top: -5px;
      left: -5px;
      display: inline-block;
  }

  .zeroVisibility {
      visibility: hidden;
  }

  .fullVisibility {
      visibility: visible;
  }

  .connectIndicatorWrapper {
      height: 0px !important;
      max-height: 0px;
  }

  .tdAlignRight {
      text-align: right;
  }

  #connectorContainer {
      position: relative;
  }

  .connectToggleContainer {
      position: relative;
      width: 80%;
      left: 10%;
      margin-top: 20px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, .1);
      border: solid 1px #d9d9d9;
      padding: 3%;
  }

  .connectorMessageContainer {
      position: relative;
      padding: 10px;
      text-align: center;
      max-width: 600px;
  }

  .connectToggleContainer td {
      padding: 10px;
      width: 50%;
  }

  .toogleRow {
      padding-bottom: 0% !important;
  }

  .messageWrap {
      margin-top: 5% !important;
      padding-bottom: 0% !important;
  }

  #tabs label:hover {
      background: #d9d9d9;
      color: #909090;
  }

  #tabs #toggle-tab1:checked~label[for="toggle-tab1"],
  #toggle-tab2:checked~label[for="toggle-tab2"],
  #toggle-shareTab:checked~label[for="toggle-shareTab"],
  #toggle-tab3:checked~label[for="toggle-tab3"],
  #toggle-tab4:checked~label[for="toggle-tab4"] {
      background: #e9e9e9;
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding-bottom: 18px;
      color: #606060;
      cursor: default;
  }

  #tabs #toggle-tab1:checked~#tab1,
  #toggle-tab2:checked~#queryTab,
  #toggle-shareTab:checked~#shareTab,
  #toggle-tab3:checked~#tab3,
  #toggle-tab4:checked~#tab4 {
      display: block;
  }

  .connected {
      color: green;
  }

  #ReCreateLogoTools {
      position: absolute;
      width: 7%;
      max-width: 65px;
      min-width: 35px;
      bottom: 10px;
      left: 10px;
  }
