@import "./node_modules/react-datepicker/src/stylesheets/datepicker.scss";
@import 'helpers/parameters';
@import 'helpers/functions';
@import 'helpers/mixins.button';
@import 'themes/json.scss';
@import 'themes/fonts.scss';
@import 'themes/layouts.scss';
@import 'components/Body.scss';
@import 'components/DateTimePicker.scss';
@import 'components/QueryComponents.scss';
@import 'components/Sidebar.scss';
@import 'components/StageFormLine.scss';
@import 'components/Tabs.scss';
@import 'components/ToggleSwitch.scss';
@import 'components/RightSlideOut.scss';
@import 'components/LoginIFrame.scss';
@import 'components/Tooltip.scss';
@import 'components/Querybox.scss';
@import 'components/Chat.scss';
@import 'components/Loaders.scss';
// app css
#connectionShortcutWrap {
    height: fit-content;
    position: relative;
    top: 42px;
    margin-left: 2px;
    cursor: pointer;
    .connectionShortcut {
        &:hover,
        &:active {
            background: #e0e0e0;
        }
        margin-top: 3px;
        background: #cacaca;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        .shortcutIcon {
            padding: 5px;
            color: green;
        }
        .shortcutLabel {
            position: relative;
            top: 1px;
            color: #464646;
            max-width: 155px !important;
            overflow-x: hidden;
            font-size: 15px;
            white-space: nowrap;
        }
    }
}

$fill:#cacaca;
$border: #222;
#saveConnectionWrap {
    position: initial;
    right: 5px;
    top: 5px;
    #saveConnection {
        cursor: pointer;
        text-shadow: -1px 0 $border, 0 1px $border, 1px 0 $border, 0 -1px $border;
        color: $fill;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    #connectionNamePopup {
        width: fit-content;
        text-align: center;
        position: relative;
    }
}

.overlayBackdrop {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0px;
    left: 0px;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.4);
}
